@tailwind base;
@tailwind components;
@tailwind utilities;

#nav{
    background-color: #fff6ea;
/*    background-color: #fdf1e2;*/


}
#logoImage{
    width: 100px;
    height: 55px;
}
#navbar{
width: 85vw;
}
#navabar1{
}

#navbarButton{
    
}