#main{
    /* background-color: #fdf1e2;*/
     background-color: #fff6ea;
}

#mainText{
    

/* height: 262.55px; */
/* left: 391.44px; */


font-family: 'Sunny Spells';
font-style: normal;
font-weight: 400;
/*font-size: 80px;
line-height: 80px;
*/
/* or 83% */

text-align: center;

color: #0D1F4C;
}