#main{
    /* background-color: #fdf1e2;*/
     background-color: #fff6ea;
}

#main1{
    width: inherit;    
    font-family: 'Urbanist'
}


#heading{
font-family: 'Sunny Spells';
font-style: normal;
font-weight: 400;
text-align: center;
color: #0D1F4C;
}

#group3{
    background-color: #110a20;
    /* height: 30rem; */
}

#group3heading{
    font-family: 'Sunny Spells';
}

#group3text{
    font-family: 'Urbanist'
}

#button1{
    box-shadow: 2px 2px gray;
}
#button2{
    box-shadow: 2px 2px gray;
}